<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>

        <div class= "container" style="margin-top:20px">
                <a href="/logout"><button class="container btn btn-danger"  >Logout</button></a>
            </div>
            <div class= "container" style="margin-top:20px">
                    <a href="/delete"><button class="container btn btn-warning">Delete</button></a>
                </div>
        <div class="container" style="margin-top :20px">
                
                <div class="jumbotron box">
                    <ul>
                            <li>
                                <div class="event" >
                                    <hr align="left" style="width: 7%; height : 3px; background-color: green;">
                                    <p style=" color: green;"> <%= event.tickets; %></p>
                                    <h2>
                                            <%=  event.name; %>
                                        </h2>
                                        <h6><%= event.time; %> , <%= event.date; %>,<%= event.location; %></h6><br>
                                        <p> <%=  event.organizer; %><br>
                                            <%=  event.details; %>
                                        </p>
                                        
                                    </div>    
                                    </li>
                                    <hr>
                               
                    </ul>
                    <ul>
                            <% for (var i=0; i<comments.length; i++){ %>
                        <li>
                                <h7 style=" color: green;"> <%=  comments[i].name; %></h7><br>
                                <h7 > <%=  comments[i].comment; %></h7>
                        </li>
                        <% } %>
                    </ul>
                   

                </div>
            </div>

            
            <div class= "container">
            <div class="jumbotron box">
                <form action="/addComment" method="POST">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="name" name="name">
                </div>
                <div class="form-group">
                        <label for="Details">Comment:</label>
                        <textarea type="paragraph_text" class="form-control" id="Details" placeholder="Comment" name="comment"></textarea>
                </div>

                <div class="form-group" style="visibility : hidden">
                        <label for="Id">Event Id:</label>
                        <textarea type="paragraph_text" class="form-control" id="Details" placeholder="event id" name="event_id" ><%=  event.id; %></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>
            </div>
        </div>




</body>
</html>